# Ignore DS_Store files (macOS)
.DS_Store

# Ignore all .txt files
*.txt

# Except keep license.txt
!license.txt

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.cpython-310.pyc
*.pyc
/Users/cu135/Library/CloudStorage/OneDrive-Personal/OneDrive_Documents/Work/Software/ReviewPyper/__pycache__

# Ignore all Cython files
*.c
*.cpp
*.cxx
*.h
*.pyx
*.pxd
*.pxi
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
ReviewPygit ls-files | grep ReviewPyPerVenvPerVenv/
*.env
*.venv
env/
venv/
ENV/
VENV/
ReviewPyPerVenv/
.vscode/settings.json
debug_answer.json
ross_testing_tools/count_reports.py
ross_testing_tools/manual_iteration_accuracy_plotting.ipynb
ross_testing_tools/mydf.csv
ross_testing_tools/real_bars_to_fake_correl.ipynb
ross_testing_tools/redact_bars_from_notes.ipynb
ross_testing_tools/testing.ipynb
ross_testing_tools/extraction_questions_draft_1.json
local_test_analyze_clinical_notes_in_azure.py
unit_testing/temp/master_list.csv
unit_testing/temp/json_evaluated/emr_strict_extraction_evaluations.json
unit_testing/temp/json_evaluated/responses_raw.csv
local_test_analyze_clinical_notes_in_azure.py
dev_tools/schmahmann_raynor_plots.ipynb
debug_answer.json
