pandas==1.5.2
pdf2image==1.16.3
openai==0.27.9
PyPDF2==2.11.1
setuptools==65.5.1
opencv-python==4.6.0.66
fuzzywuzzy==0.18.0
numpy==1.26
tqdm==4.64.1
textract==1.6.5
pytesseract==0.3.10
biopython==1.83
lxml==5.2.0
requests==2.31.0
python-Levenshtein==0.25.0
PyMuPDF==1.24.1
pybids==0.16.4
git+https://github.com/josephisaacturner/pypaperretriever.git